DATABASE_URL=
DB_TIMEOUT=5000
JWT_SECRET_KEY=your-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10
REFRESH_TOKEN_EXPIRE_DAYS=30
EMAIL_API_KEY=your-secret-key
EMAIL_FROM=noreply@example.com
EMAIL_PROVIDER_URL=https://api.resend.com/emails
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
CELERY_RESULT_BACKEND=rpc://